.exit-movie {
  position: absolute;
  width: 39.5%;
  right: -6%;
  top: 13%;
  border: none;
  background: none;
}

.exit-movie:hover, .exit-movie:focus {
  cursor: pointer;
  transform: scale(1.05);
}
.exit-movie-img {
  width: 100%;
}
