.main-title {
  width: 100%;
  max-width: 700px;
  margin-bottom: 1em;
}

.title-container {
  max-width: 700px;
  display: inline-block;
  position: relative;
}

.main-app {
  width: 100%;
  text-align: center;
}
