* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* width: fit-content; */
}

.main-title {
  width: 100%;
  max-width: 700px;
  margin-bottom: 1em;
}

.main-app {
  /* padding: 2em; */
  width: fit-content;
  text-align: center;
  background-color: rgba(30, 6, 9, 1);
}
